* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

p {
  margin-bottom: 10px;
}

.container {
  width: 825px;
  margin: 50px auto;
  border: 4px solid;
  position: relative;
}

.title {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

.product-img {
  float: left;
  margin-right: 40px;
}

.product-description-box {
  float: left;
  width: 243px;
  margin-right: 40px;
  margin-top: 20px;
}

.product-details-box {
  float: left;
  width: 243px;
  margin-top: 20px;
}

.price-tag {
  font-size: 22px;
  margin-bottom: 0;
  float: left;
}

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

.more-info {
  margin-bottom: 30px;
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-details {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.add-cart {
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
  text-transform: uppercase;
  text-allign: center;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}
.add-cart:hover {
  color: black;
  background-color: white;
  border-top: 4px solid;
}

.product-details-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product-details-list li {
  margin-bottom: 10px;
}

.sale {
  text-transform: uppercase;
  background-color: red;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -34px;
  padding: 7px 15px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}
